@import 'reset';
@import 'variables';
@import 'header';
@import 'schedule';
@import 'partners';

body {
    padding-top: 24px;
    font-family: $lato;
    font-weight: 300;
    color: $black;
    max-width: 688px;
    margin: auto;
}