.day-header {
    padding: 0 16px;
    margin: 24px 0;
    h3 {
        font-size: 24px;
        .fas {
            margin-right: 12px;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.today-true {
    font-weight: 400;
}

.session {
    padding-left: 48px;
    h4 {
        font-size: 20px;
        margin: 0;
        margin-top: 12px;
        .fas {
            margin-right: 12px;
        }
        &:hover {
            cursor: pointer;
        }   
    }
    &.current-true {
        h4 {
            font-weight: 400;
        }
    }  
}

.session-details {
    padding-left: 32px;
    .speaker {
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .topic {

        margin-bottom: 6px;
    }
    .zoom-pwd {
        font-weight: bold;
        padding-top: 12px;
    }
}

.session-info {
    margin-top: 10px;
    p {
        margin-right: 12px;
        font-size: 20px;
    }
    .zoom-link {

        margin-left: 12px;
    }
}
