@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

$lato: 'Lato', 'Montserrat', 'Verdana', 'Arial', sans-serif;


$black: #333;
$trueBlack: #000;

$blue1: #3f88c5;

$grey1: #a2aebb;

$navy1: #1c3144;

$red1: #ff0000;

$white: #fafafa;
$trueWhite: #fff;

$yellow1: #ffba08;